/* Header.css */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
}

.header-left {
    display: flex;
    align-items: center;
}

.logo-text {
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}

.header-right {
    display: flex;
    align-items: center;
}

.mypage-button {
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
    text-decoration: underline; /* 마이페이지 버튼에 밑줄 추가 */
}

.mypage-button:hover {
    color: #ccc; /* 마우스를 올렸을 때 버튼 색 변화 */
}
